.container {
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #131a22;
}

.globe_canvas {
	height: 200px;
	width: 200px;
	border: 1px solid black;
}
.EarthJournal {
	width: 250px;
	height: 200px;
	border: 1px solid black;
}
