.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0px auto;
}
.globe_canvas {
  max-height: 550px;
  max-width: 550px;
  border-radius: 10px;
  border: 1px solid #2d4298;
  /* background-color: #111216; */
  background: transparent;
}

.hidden {
  color: rgb(66, 149, 128);
  display: none;
}
